# Environment variables
.env

# Invoices (PDFs)
invoices/*.pdf
!invoices/.gitkeep

# JSON Invoices
data/json/*.json

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
