{% extends "base.html" %}

{% block content %}
<h1>Invoices History</h1>

<form method="GET">

    <input type="text" name="search" placeholder="Search..." value="{{ search }}">

    <button type="submit">Search</button>

</form>

<br>

<a href="/export/csv">Export CSV</a>
<br><br>

<table border="1" cellpadding="8">
    <tr>
        <th>#</th>
        <th>UUID</th>
        <th>Date</th>
        <th>Supplier</th>
        <th>Total</th>
        <th>Category</th>
        <th>Action</th>
    </tr>

    {% for row in invoices %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ row.uuid }}</td>
        <td>{{ row.invoice_date }}</td>
        <td>{{ row.supplier }}</td>
        <td>{{ row.total }}</td>
        <td>{{ row.category }}</td>
        <td>
            <a href="/invoice/{{ row.id }}">View</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}